<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://images2.minutemediacdn.com/image/fetch/https%3A%2F%2Fbamsmackpow.com%2Ffiles%2Fimage-exchange%2F2018%2F08%2Fie_23207.jpeg" alt="" height="200px" srcset="">
    </div>


    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>

    <div class="big-card__description">
        <p>
            <a href="#">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque velit corrupti ex ad, id possimus
                laboriosam quia cupiditate consequatur vel, praesentium perspiciatis delectus! Dolor, eveniet?
                Perspiciatis, sapiente ea. Esse, deleniti.
            </a>
        </p>
    </div>
</div>